$heading-color: #444444;
$panels-mobiles: 135px;
$panels-large-screen: 200px;
$labels: 13px;
$labels-lg: 18px;
$red: #b50000;
$green: #005500;
$yellow: #dad518;
$blue: #000075;

@mixin grid_setup($col_row...) {
  display: grid;
  grid-template-columns: nth($col_row, 1);

  @if  nth($col_row, 2) != 0 {
    grid-template-rows: nth($col_row, 2);
  }
}

@mixin grid_colrow($cs,$ce,$rs,$re) {
  grid-column: #{$cs}/#{$ce};
  grid-row: #{$rs}/#{$re};
}

@mixin black_border($width) {
  border: $width solid black
}

body, html {
  margin: 0;
}
header {
  width: 100%;
  padding-top: 5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
    h1 {
      font-size: 1.5em;
      color: $heading-color;
    }
    @media screen and (min-width: 599px) {
      text-align: initial;
      @include grid_setup(repeat(12, 1fr), 60px);
        h1 {
          grid-column: 3/11;
          padding-left: 20px;
          border-left: 2px solid;
        }
        span {
          @include grid_colrow(3,11,2,3 );
        }
    }
}
.hrr {
  width: 85%;
  margin: auto;
  hr {
    border: 1px solid #424242;

  }
}
.wrapper {
  @include grid_setup(repeat(1,auto),0);
  justify-content: center;
  height: calc(100vh - 105px);
  .wrap-box {
    @include grid_setup(repeat(2, $panels-mobiles), repeat(2, $panels-mobiles));
    margin: auto;
    @media screen and (min-width: 600px) {
      @include grid_setup(repeat(2, $panels-large-screen), repeat(2, $panels-large-screen));
    }
  }
}
.red,
.green,
.yellow,
.blue {
  width: $panels-mobiles - 6;
  height: $panels-mobiles - 6;
  @include black_border(2px);
  @media screen and (min-width: 600px) {
    width: $panels-large-screen - 6;
    height: $panels-large-screen - 6;
  }
}
.red{
  background-color: $red;
  @include grid_colrow(1,2,1,2);
}
.green{
  background-color: $green;
  @include grid_colrow(2,-1,1,2);
}
.yellow{
  background-color: $yellow;
  @include grid_colrow(1,2,2,-1);
}
.blue{
  background-color: $blue;
  @include grid_colrow(2,-1,2,-1);
}